[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        import-error,
        no-name-in-module,
        unused-import,
        wrong-import-position,
        ungrouped-imports

[VARIABLES]
ignored-argument-names=_.*
